<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bmi/main_style.css' %}" />
	<style>
		th.choice{
			width: 70%;
		}
	</style>
</head>

<body>
<ul class="menu_bar">
	<li class="menu_bar"><a href="{% url 'bmi:detail' pk=question.id %}">Back to question</a></li>
</ul>

<div class="content">
<h2>Add any choice ?</h2>
<form action="{% url 'bmi:add_choice' question.id %}" method="post">
	{% csrf_token %}
	New Choice : <input type="text" name="new_choice" size="50" required></input>
	<input type="submit" value="Add New"></input> 
</form>

<br><br><br>
{% if error_message %}<h1 style="color:red">{{ error_message }}</h1>{% endif %}
{% if question.choice_set.all %}
<h2>Want delete Choice?!</h2>
<form action="{% url 'bmi:delete_choice' question.id %}" method="post">
	{% csrf_token %}
	<h3 style="color:red">Warning Every voted will be lost</h3>
	<table>
		<tr>
			<th>select</th>
			<th class="choice">choice</th>
			<th>voted</th>
		</tr>
	{% for choice in question.choice_set.all %}
		<tr>
			<td><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /></td>
    		<td><label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label></td>
			<td><label for="choice{{ forloop.counter }}">{{choice.votes}}</label></td>
		</tr>
	{% endfor %}
	</table>
	<input type="submit" value="delete"></input> 
</form>
{% endif %}
</div>
</body>
