<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bmi/main_style.css' %}" />
	<style>
		th.question{
			width: 70%;
	</style>
</head>

<body>
<ul class="menu_bar">
	<li class="menu_bar"><a href="{% url 'bmi:index' %}">Back to main manu</a></li>
</ul>

<div class="content">
<h1 style="color:red">Remove Question</h1>
{% if question_list.all %}
<form action="{% url 'bmi:delete_question'%}" method="post">
	{% csrf_token %}
    <table>
    	<tr>
			<th> select </th>			
			<th class="question">Question</th>
			<th>Pub_date</th>
		</tr>
    {% for question in question_list.all %}
		<tr>
			<td><input type="radio" 
					   name="question_select"
					   id="question{{forloop.counter}}" 
				       value="{{question.id}}"></input></td>
			<td>{{question.question_text }}</td>
			<td>{{question.pub_date}}</td>
		</tr>
    {% endfor %}
	</table>
	<input type="submit" value="delete"></input> 
</form>
{% else %}
	<h1>you dont have any question</h1>
{% endif %}
</div>
</body>
