<head>
	<style>
		th, th.question{
			border: 2px solid black;
			background-color: YellowGreen;
			border-collapse: collapse
		}
		th.question{
			width: 75%;
		}
		table{
			width:90%;
			border: 2px solid black;
			border-collapse: collapse;
		}
		td{
			border: 2px solid black;
		}
		tr:nth-child(odd){
			background-color: MintCream;
		}
		tr:nth-child(even){
			background-color: MistyRose;
		}
		a:link, a:visited{
			color: Navy;
			text-decoration:none;
		}
	</style>
</head>

<body style="background-color:SandyBrown">
<center>
<h1>WelCome</h1>
<a href="{% url 'bmi:new_question'%}">Add Question</a><br>
<a href="{% url 'bmi:delete_question_page'%}">Delete Question</a><br>
<br>
{% if latest_question_list %}
    <table>
    	<tr>
			<th class="question">Question</th>
			<th>Pub_date</th>
		</tr>
    {% for question in latest_question_list %}
		<tr>
			<td><a href="{% url 'bmi:detail' question.id %}">{{ question.question_text }}</a></td>
			<td style="text-align:center">{{question.pub_date}}</td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</center>

