<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bmi/main_style.css' %}" />
	<style>
		th.question{
			width: 75%;
		}
	</style>
</head>

<body>
<ul class="menu_bar">
    <li class="menu_bar" style="float:right"><a href="{% url 'homepage:index' %}">Go To HomePage</a></li>
	<li class="menu_bar"><a href="{% url 'bmi:new_question'%}">Add Question</a></li>
    <li class="menu_bar"><a href="{% url 'bmi:delete_question_page'%}">Delete Question</a></li>
</ul>

<div class="content">
<center>
<h1>WelCome</h1>
{% if latest_question_list %}
    <table>
    	<tr>
			<th class="question">Question</th>
			<th>Pub_date</th>
		</tr>
    {% for question in latest_question_list %}
		<tr>
			<td><a href="{% url 'bmi:detail' question.id %}">{{ question.question_text }}</a></td>
			<td style="text-align:center">{{question.pub_date}}</td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</center>
</div>
</body>


