<body style="background-color:#47d666">
<a href="{% url 'accounting:type_manage' pk=user.id %}">Back to user book</a>

<h1>Add type</h1>
<form action="{%url 'accounting:func_add_type' user_id=user.id %}" method="post">
{% csrf_token %}
	type name   : <input type="text" name="type_name" size="50" required></input><br>
    Detail : <br><textarea name="detail" rows="10" cols="50"></textarea><br>
    type for : <input type="radio" name="type_for" value="income" required>Income</input>
               <input type="radio" name="type_for" value="expenses" required>Expenses</input><br>
	<input type="submit" value="Add">
</form>
</body>
