<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({
      dateFormat: "yy-mm-dd",
      maxDate: "0",
    });
  } );
  </script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'accounting/main_style.css' %}" />
</head>

<body>
<ul class="menu_bar">
    <li class="menu_bar"><a href="{% url 'accounting:book_detail' pk=pass_book.id %}">Back to Book menu</a></li>
</ul>

<div class="content">
<h1>Add List</h1>
<form action="{%url 'accounting:func_add_list' book_id=pass_book.id %}" method="post">
{% csrf_token %}
	  List name  : <br>
    <input type="text" name="list_name" size="40" required></input><br>
    Detail   : <br>
    <textarea name="detail" rows="10" cols="50"></textarea><br>
    Value : <input id = val type="number" name="value" min="0" step="0.01" required></input><br>
    type is :<input list="income" name="type_text" required><br>
	<datalist id="income">
        {% for type in pass_book.user.list_type_set.all %}
		    {% if type.type_for == "income" %}
				<option value={{type.type_name}}>
			{% endif %}
		{% endfor %}
	</datalist>
    Date: <input type="text" id="datepicker" name="date" required><br>
    Type_for :
        <input type="radio" name="type_for" value="income">income</input>
        <input type="radio" name="type_for" value="expenses">expenses</input><br>
	<input type="submit" value="Add">
</form>
</div>
</body>
