<head>
	<style>
		th, th.list{
			border: 2px solid black;
			background-color: YellowGreen;
			border-collapse: collapse
		}
		th.list{
			width: 75%;
		}
		table{
			width:90%;
			border: 2px solid black;
			border-collapse: collapse;
		}
		td{
			border: 2px solid black;
		}
		tr:nth-child(odd){
			background-color: MintCream;
		}
		tr:nth-child(even){
			background-color: MistyRose;
		}
	</style>
</head>


<body style="background-color:SandyBrown">
<a href="{% url 'accounting:user_book' pk=pass_book.user.id%}">Back to User manu</a>
<h1> This Book Name :  {{pass_book.book_name}} </h1>
<h2> Your balance is {{pass_book.balance}} </h2><br>
<a href="{% url 'accounting:AddList' pk=pass_book.id %}">Add new List</a><br>

{% if pass_book.list_set.all %}
    <table>
    	<tr>
			<th class="user">List Name</th>
			<th>Type</th>
			<th>value</th>
		</tr>
	{% for list in pass_book.list_set.all %}
        <tr>
            <td style="text-align:center">{{list.list_name}}</td>
            <td style="text-align:center">{{list.list_type}}</td>	    
            <td style="text-align:center">{{list.value}}</td>
        </tr>
	{% endfor %}
{% else %}
	<h1> none </h1>
{% endif %}
</body>
