<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounting/main_style.css' %}" />
    <style>
		th.book{
			width: 65%;
		}
	</style>
</head>

<body>
<ul class="menu_bar">
	<li class="menu_bar"><a href="{% url 'accounting:user_book' pk=user.id %}">Back to user menu</a></li>
</ul>

<div class="content">
<center>
{% if user.pass_book_set.all %}
    <table>
    	<tr>
			<th class="book">Book Name</th>
			<th> Delete </th>
		</tr>
	{% for book in user.pass_book_set.all %}
        <tr>
		    <td>{{book.book_name}}</td>
            <form action="{%url 'accounting:func_delete_book' book_id=book.id %}" method="post">
				{% csrf_token %}
            <td><input type="submit" value="Delete This Book"></td>
            </form>
        </tr>
	{% endfor %}
{% endif %}
</table>
</center>
</div>
</body>
