<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounting/theme1/main_style.css' %}" />
    <style>
		th.user{
			width: 65%;
		}
	</style>
</head>

<body>
<ul class="menu_bar">
	<li class="menu_bar"><a href="{% url 'accounting:index' %}">Back to main manu</a></li>
</ul>

<div class="content">
<center>
{% if user_list %}
    <table>
    	<tr>
			<th class="user">User Name</th>
			<th> Delete </th>
		</tr>
	{% for user in user_list %}
        <tr>
		    <td>{{user.user_name}}</td>
            <form action="{%url 'accounting:func_delete_user' user_id=user.id %}" method="post">
				{% csrf_token %}
            <td><input type="submit" value="Delete This User"></td>
            </form>
        </tr>
	{% endfor %}
{% endif %}
</table>
</center>
</div>
</body>
