<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounting/theme1/main_style.css' %}" />
    <style>
		th.list{
			width: 65%;
		}
	</style>
</head>

<body>
<ul class="menu_bar">
	<li class="menu_bar"><a href="{% url 'accounting:book_detail' pk=pass_book.id %}">Back to book menu</a></li>
</ul>

<div class="content">
<center>
{% if pass_book.list_set.all %}
    <table>
    	<tr>
			<th class="list">list Name</th>
			<th>Date</th>
			<th> Delete </th>
		</tr>
	{% for list in pass_book.list_set.all %}
        <tr>
		    <td>{{list.list_name}}</td>
		    <td>{{list.date}}</td>
            <form action="{%url 'accounting:func_delete_list' list_id=list.id %}" method="post">
				{% csrf_token %}
            <td><input type="submit" value="Delete This List"></td>
            </form>
        </tr>
	{% endfor %}
{% endif %}
</table>
</center>
</div>
</body>
