<body style="background-color:SandyBrown">
<a href="{% url 'accounting:book_detail' pk=pass_book.id %}">Back to Book menu</a>
<h1>Add Program</h1>
<form action="{%url 'accounting:func_add_expenses' book_id=pass_book.id %}" method="post">
{% csrf_token %}
	Program name   : <input type="text" name="program_name" size="50" required></input><br>
    Detail : <br><textarea name="detail" rows="10" cols="50"></textarea><br>
    Value : <input type="number" name="value" min="0" required></input><br>
	<input type="submit" value="Add">
</form>
</body>
