<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounting/main_style.css' %}" />
    <style>
        th.list{
            width: 60%;
        }
        tr:nth-child(odd){
            background-color: #E9E6E7;
        }

        tr:nth-child(even){
            background-color: #E9E6E7;
        }
        table{
            width:90%;
            border: 2px solid black;
            border-collapse: collapse;
        }
		body{
			background-image: none;
		}
    </style>
</head>

<body>
<center>
<h3>Show List in : {{date_in}}</h3>
{% if pass_book.list_set.all %}
    <table>
    	<tr>
			<th class="list">List Name</th>
			<th>Type</th>
			<th>income</th>
			<th>expenses</th>
		</tr>
	{% for list in pass_book.list_set.all %}
        {% if list.get_date == date_in %}
            {% if list.list_type.type_for == 'income' %}
            <tr>
                <td>{{list.list_name}}</td>
                <td>{{list.list_type}}</td>
                <td style="color:#206F00">{{list.value}}</td>
                <td>-</td>
            </tr>
            {% else %}
            <tr>
                <td>{{list.list_name}}</td>
                <td>{{list.list_type}}</td>
                <td>-</td>
                <td style="color:#B41200">{{list.value}}</td>
            </tr>
            {% endif %}
        </tr>
        {% endif %}
	{% endfor %}
{% endif %}
</table>
</center>
</body>
