<head>
    {% load static %}
    <link id="pagestyle" rel="stylesheet" type="text/css" href="{% static 'accounting/theme1/main_style.css' %}" />
	<style>
		th.user{
			width: 65%;
        }
	</style>
    <script>
    function swapStyleSheet(){
        document.getElementById('pagestyle').setAttribute('href', "{% static 'accounting/theme2/main_style.css' %}");
    }
    </script>

</head>

<body>
<ul class="menu_bar">
    <li class="menu_bar" style="float:right"><a href="{% url 'homepage:index' %}">Go To Homepage</a></li>
	<li class="menu_bar"><a href="{% url 'accounting:add_user_page' %}">ADD NEW USER</a></li>
	<li class="menu_bar"><a href="{% url 'accounting:delete_user_page' %}">DELETE USER</a></li><br><br>
</ul>

<div class="content">
<center>
<h1> Welcome </h1>
<h2> Choise you account or add new account </h2>

{% if user_list %}
    <table>
    	<tr>
			<th class="user">User Name</th>
			<th>founded</th>
		</tr>
	{% for user in user_list %}
        <tr>
		    <td><a href="{% url 'accounting:user_book' pk=user.id %}">{{user.user_name}}</a></td>
            <td style="text-align:center">{{user.founded}}</td>
        </tr>
	{% endfor %}
{% endif %}
</table>
</center>
<button onclick="swapStyleSheet()">change theme</button>
</div>
</body>
