<head>
	<style>
		th, th.user{
			border: 2px solid black;
			background-color: YellowGreen;
			border-collapse: collapse
		}
		th.user{
			width: 75%;
		}
		table{
			width:90%;
			border: 2px solid black;
			border-collapse: collapse;
		}
		td{
			border: 2px solid black;
		}
		tr:nth-child(odd){
			background-color: MintCream;
		}
		tr:nth-child(even){
			background-color: MistyRose;
		}
	</style>
</head>

<body style="background-color:SandyBrown">

<h1> Welcome </h1>
<h2> Choise you account or add new account </h2>
<a href="{% url 'accounting:add_user_page' %}"><h2>ADD NEW USER</h2></a>

{% if user_list %}
    <table>
    	<tr>
			<th class="user">User Name</th>
			<th>founded</th>
		</tr>
	{% for user in user_list %}
        <tr>
		    <td><a href="{% url 'accounting:user_book' pk=user.id %}">{{user.user_name}}</a></td>
            <td style="text-align:center">{{user.founded}}</td>
        </tr>
	{% endfor %}
{% endif %}
</body>
