<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounting/theme1/main_style.css' %}" />
	<style>
		th.detail{
			width: 70%;
		}
	</style>
</head>

<body>
<ul class="menu_bar">
	<li class="menu_bar"><a href="{% url 'accounting:user_book' pk=user.id %}">Back to User book</a></li>
</ul>

<div class="content">
<h2> If you delete any type list which have type like that must be lost !! </h2>
<br>
<center>
{% if not user.list_type_set.all %}
	<h1> May be you should make new list type? </h1>
{% endif %}
    <table>
    	<tr>
			<th>Type Name</th>
			<th class="detail">Detail</th>
			<th>for</th>
			<th>function</th>
		</tr>
		<form action="{%url 'accounting:func_add_type' user_id=user.id %}" method="post">
		{% csrf_token %}
			<td><input type="text" name="type_name" size="25" required></input></td>
    		<td><input type="text" name="detail" size="60"></input></td>
    		<td><select name="type_for">
    		    <option value="income">Income</option>
            	<option value="expenses">Expenses</option>
            	</select></td>
            <td><input type="submit" value="Make New Type"></td>
		</form>

	{% for type in user.list_type_set.all %}
        <tr>
            <td>{{type.type_name}}</td>
            <td>{{type.type_detail}}</td>
            <td style="text-align:center">{{type.type_for}}</td>
            <form action="{%url 'accounting:func_delete_type' type_id=type.id %}" method="post">
				{% csrf_token %}
            <td><input type="submit" value="Delete This Type"></td>
			</form>
        </tr>
	{% endfor %}
</table>
</center>
</div>
</body>
