<head>
	<style>
		th, th.detail{
			border: 2px solid black;
			background-color: #d66647;
			border-collapse: collapse
		}
		th.detail{
			width: 70%;
		}
		table{
			width:90%;
			border: 2px solid black;
			border-collapse: collapse;
		}
		td{
			text-align:center;
			border: 2px solid black;
		}
		tr:nth-child(odd){
			background-color: #dad8f6;
		}
		tr:nth-child(even){
			background-color: #f1edfb;
		}
	</style>
</head>

<body style="background-color:#47d666">
<a href="{% url 'accounting:user_book' pk=user.id %}">Back to User book</a><br>
<a href="{% url 'accounting:page_add_type' pk=user.id %}">Make new type</a>
<center>
{% if user.list_type_set.all %}
    <table>
    	<tr>
			<th>Type Name</th>
			<th class="detail">Detail</th>
			<th>for</th>
		</tr>
	{% for type in user.list_type_set.all %}
        <tr>
            <td>{{type.type_name}}</td>
            <td>{{type.type_detail}}</td>
            <td style="text-align:center">{{type.type_for}}</td>
        </tr>
	{% endfor %}
{% endif %}
</table>
</center>
</body>
