<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounting/main_style.css' %}" />
	<style>
		th.book{
			width: 75%;
		}
	</style>
</head>

<body>
<ul class="menu_bar">
	<li class="menu_bar"><a href="{% url 'accounting:index' %}">Back to main manu</a></li>
	<li class="menu_bar"><a href="{% url 'accounting:add_book_page' pk=user.id %}">ADD NEW PASS_BOOK</a></li>
	<li class="menu_bar"><a href="{% url 'accounting:delete_book_page' pk=user.id %}">Delete PASS_BOOK</a></li>
	<li class="menu_bar"><a href="{% url 'accounting:type_manage' pk=user.id %}">Go to Type manage</a></li>
</ul>

<div class="content">
<h1> HI {{user.user_name}} </h1>
<br><br>
<center>
{% if user.pass_book_set.all %}
    <table>
    	<tr>
			<th class="book">Book Name</th>
			<th>Balance</th>
		</tr>
	{% for book in user.pass_book_set.all %}
        <tr>
		    <td><a href="{% url 'accounting:book_detail' pk=book.id%}">{{book.book_name}}</a></td>
            <td style="text-align:center">{{book.balance}}</td>
        </tr>
	{% endfor %}
{% endif %}
	</table>
</center>
</div>
</body>
